.btn {
    background-color: hsl(125, 33%, 36%);
    color: white;
    padding: 8px 25px;
}



body {
    background-color: rgb(245, 237, 228);
}

.penguin-name1 {
    color: orange;
}

.header-all-name {
    color: hsl(240, 89%, 11%);
}

.img-background {
    background-color: lightgray;
    border-radius: 15px;
    padding: 20px;
}